<a href="https://colab.research.google.com/github/Jueunkim429/Human-Computer-Interaction/blob/main/Autism_screening.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터셋 임포트

In [1]:
import pandas as pd
import sklearn
import tensorflow as tf
from tensorflow import keras

In [2]:
data = pd.read_table('/content/drive/MyDrive/Colab Notebooks/Autism-Child-Data.txt', sep=',', index_col=None)

In [3]:
print('Shape of DataFrame: {}'.format(data.shape))

Shape of DataFrame: (292, 21)

In [4]:
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,family_history_of_austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,?,no,yes,Austria,no,5,'4-11 years',?,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES

# 데이터셋 검토

## 요약 통계량 확인

In [5]:
data.describe().transpose()

           count      mean       std  min  25%  50%  75%   max
A1_Score   292.0  0.633562  0.482658  0.0  0.0  1.0  1.0   1.0
A2_Score   292.0  0.534247  0.499682  0.0  0.0  1.0  1.0   1.0
A3_Score   292.0  0.743151  0.437646  0.0  0.0  1.0  1.0   1.0
A4_Score   292.0  0.551370  0.498208  0.0  0.0  1.0  1.0   1.0
A5_Score   292.0  0.743151  0.437646  0.0  0.0  1.0  1.0   1.0
A6_Score   292.0  0.712329  0.453454  0.0  0.0  1.0  1.0   1.0
A7_Score   292.0  0.606164  0.489438  0.0  0.0  1.0  1.0   1.0
A8_Score   292.0  0.496575  0.500847  0.0  0.0  0.0  1.0   1.0
A9_Score   292.0  0.493151  0.500811  0.0  0.0  0.0  1.0   1.0
A10_Score  292.0  0.726027  0.446761  0.0  0.0  1.0  1.0   1.0
result     292.0  6.239726  2.284882  0.0  5.0  6.0  8.0  10.0

## 데이터 유형 확인

In [6]:
data.dtypes

A1_Score                     int64
A2_Score                     int64
A3_Score                     int64
A4_Score                     int64
A5_Score                     int64
A6_Score                     int64
A7_Score                     int64
A8_Score                     int64
A9_Score                     int64
A10_Score                    int64
age_numeric                 object
gender                      object
ethnicity                   object
jundice                     object
family_history_of_austim    object
contry_of_res               object
used_app_before             object
result                       int64
age_desc                    object
relation                    object
Class/ASD                   object
dtype: object

# 데이터 전처리

In [7]:
data = data.drop(columns=['result','age_desc'], axis=1)

In [8]:
x = data.drop(columns='Class/ASD', axis=1)
y=data['Class/ASD']

In [9]:
x.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age_numeric,gender,ethnicity,jundice,family_history_of_austim,contry_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self

 # 원-핫 인코딩

In [10]:
X = pd.get_dummies(x)
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_numeric_10', 'age_numeric_11', 'age_numeric_4',
       'age_numeric_5', 'age_numeric_6', 'age_numeric_7', 'age_numeric_8',
       'age_numeric_9', 'age_numeric_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jundice_no', 'jundice_yes',
       'family_history_of_austim_no', 'family_history_of_austim_yes',
       "contry_of_res_'Costa Rica'", "contry_of_res_'Isle of Man'",
       "contry_of_res_'New Zealand'", "contry_of_res_'Saudi Arabia'",
       "contry_of_res_'South Africa'", "contry_of_res_'South Korea'",
       "contry_of_res_'U.S. Outlying Islands'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Egypt', 'contry_of_res_Europe',
       'contry_of_res_Georgia', 'contry_of_res_Germany',
       'contry_of_res_Ghana', 'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Italy',
       'contry_of_res_Japan', 'contry_of_res_Jordan',
       'contry_of_res_Kuwait', 'contry_of_res_Latvia',
       'contry_of_res_Lebanon', 'contry_of_res_Libya',
       'contry_of_res_Malaysia', 'contry_of_res_Malta',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Sweden', 'contry_of_res_Syria',
       'contry_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [11]:
X.loc[1]

A1_Score             1
A2_Score             1
A3_Score             0
A4_Score             0
A5_Score             1
                    ..
relation_?           0
relation_Parent      1
relation_Relative    0
relation_Self        0
relation_self        0
Name: 1, Length: 96, dtype: int64

In [12]:
Y=pd.get_dummies(y)

# 데이터셋 분리

In [13]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=fa6f93d21cef0dc47b156e517ee3e9396313d09d230bd66b95504ca27220ded4
  Stored in directory: /root/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [14]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y,test_size=0.2, random_state=42)

In [15]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(233, 96)
(59, 96)
(233, 2)
(59, 2)

# 신경망 설계

In [16]:
def create_model():
  model = keras.models.Sequential()
  model.add(keras.layers.Dense(8,input_dim=96, kernel_initializer='normal', activation='relu'))
  model.add(keras.layers.Dense(4, kernel_initializer='normal', activation='relu'))
  model.add(keras.layers.Dense(2, activation='softmax'))

  adam = keras.optimizers.Adam(learning_rate=0.001)
  model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
  return model

model = create_model()
print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 776

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 2)                 10

=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

# 모델 학습

In [17]:
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose=1)

Epoch 1/50
24/24 [==============================] - 1s 2ms/step - loss: 0.6924 - accuracy: 0.5408
Epoch 2/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6888 - accuracy: 0.7253
Epoch 3/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6795 - accuracy: 0.8155
Epoch 4/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6618 - accuracy: 0.8884
Epoch 5/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6319 - accuracy: 0.9142
Epoch 6/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5898 - accuracy: 0.9056
Epoch 7/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5415 - accuracy: 0.9313
Epoch 8/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4874 - accuracy: 0.9013
Epoch 9/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4255 - accuracy: 0.9227
Epoch 10/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3695 - accuracy: 0.9356
Epoch 11/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3225 - accuracy: 0.9313
Epoch 12/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2819 - accuracy: 0.9442
Epoch 13/50
24/24 [==============================] - 0s 3ms/step - loss: 0.2497 - accuracy: 0.9614
Epoch 14/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2195 - accuracy: 0.9571
Epoch 15/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1947 - accuracy: 0.9700
Epoch 16/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1756 - accuracy: 0.9657
Epoch 17/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1591 - accuracy: 0.9657
Epoch 18/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1448 - accuracy: 0.9742
Epoch 19/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1314 - accuracy: 0.9700
Epoch 20/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1202 - accuracy: 0.9957
Epoch 21/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1099 - accuracy: 0.9914
Epoch 22/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1002 - accuracy: 1.0000
Epoch 23/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0931 - accuracy: 0.9957
Epoch 24/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0861 - accuracy: 0.9957
Epoch 25/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0788 - accuracy: 1.0000
Epoch 26/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0733 - accuracy: 1.0000
Epoch 27/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0692 - accuracy: 1.0000
Epoch 28/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0656 - accuracy: 1.0000
Epoch 29/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0603 - accuracy: 1.0000
Epoch 30/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0576 - accuracy: 1.0000
Epoch 31/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0544 - accuracy: 1.0000
Epoch 32/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0517 - accuracy: 1.0000
Epoch 33/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0479 - accuracy: 1.0000
Epoch 34/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0454 - accuracy: 1.0000
Epoch 35/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0446 - accuracy: 1.0000
Epoch 36/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0431 - accuracy: 1.0000
Epoch 37/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0408 - accuracy: 1.0000
Epoch 38/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0371 - accuracy: 1.0000
Epoch 39/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0363 - accuracy: 1.0000
Epoch 40/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0337 - accuracy: 1.0000
Epoch 41/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0322 - accuracy: 1.0000
Epoch 42/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0312 - accuracy: 1.0000
Epoch 43/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0288 - accuracy: 1.0000
Epoch 44/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0300 - accuracy: 1.0000
Epoch 45/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0268 - accuracy: 1.0000
Epoch 46/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0254 - accuracy: 1.0000
Epoch 47/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0246 - accuracy: 1.0000
Epoch 48/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0239 - accuracy: 1.0000
Epoch 49/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0232 - accuracy: 1.0000
Epoch 50/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0219 - accuracy: 1.0000

# 신경망 테스트

In [18]:
import numpy as np
from sklearn.metrics import classification_report, accuracy_score

predictions = np.argmax(model.predict(X_test), axis=1)
predictions

array([0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1])

In [19]:
print('신경망 예측 결과')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

신경망 예측 결과
0.9322033898305084
              precision    recall  f1-score   support

           0       0.95      0.95      0.95        39
           1       0.90      0.90      0.90        20

    accuracy                           0.93        59
   macro avg       0.92      0.92      0.92        59
weighted avg       0.93      0.93      0.93        59

# 드롭아웃 규제 추가

In [20]:
dropdout_rate = 0.25

def create_model():
  model = keras.models.Sequential()
  model.add(keras.layers.Dense(8,input_dim=96, kernel_initializer='normal', activation='relu'))
  model.add(keras.layers.Dropout(dropdout_rate))
  model.add(keras.layers.Dense(4, kernel_initializer='normal', activation='relu'))
  model.add(keras.layers.Dropout(dropdout_rate))
  model.add(keras.layers.Dense(2, activation='sigmoid'))
  adam = keras.optimizers.Adam(learning_rate=0.001)

  model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
  return model

# 모델 학습

In [21]:
model = create_model()
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose=1)

Epoch 1/50
24/24 [==============================] - 1s 2ms/step - loss: 0.6891 - accuracy: 0.6438
Epoch 2/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6865 - accuracy: 0.5751
Epoch 3/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6812 - accuracy: 0.6695
Epoch 4/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6743 - accuracy: 0.6567
Epoch 5/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6555 - accuracy: 0.7210
Epoch 6/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6411 - accuracy: 0.7124
Epoch 7/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6149 - accuracy: 0.7940
Epoch 8/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5901 - accuracy: 0.7811
Epoch 9/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5391 - accuracy: 0.8541
Epoch 10/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5016 - accuracy: 0.7983
Epoch 11/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4743 - accuracy: 0.8069
Epoch 12/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4480 - accuracy: 0.8498
Epoch 13/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.7983
Epoch 14/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3815 - accuracy: 0.8970
Epoch 15/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3983 - accuracy: 0.8369
Epoch 16/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8627
Epoch 17/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8798
Epoch 18/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3095 - accuracy: 0.9013
Epoch 19/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8712
Epoch 20/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2897 - accuracy: 0.9013
Epoch 21/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2882 - accuracy: 0.9013
Epoch 22/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2621 - accuracy: 0.9227
Epoch 23/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2593 - accuracy: 0.9356
Epoch 24/50
24/24 [==============================] - 0s 3ms/step - loss: 0.2557 - accuracy: 0.9185
Epoch 25/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2260 - accuracy: 0.9399
Epoch 26/50
24/24 [==============================] - 0s 3ms/step - loss: 0.2277 - accuracy: 0.9399
Epoch 27/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2032 - accuracy: 0.9142
Epoch 28/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2028 - accuracy: 0.9399
Epoch 29/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2388 - accuracy: 0.9185
Epoch 30/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1952 - accuracy: 0.9227
Epoch 31/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2287 - accuracy: 0.9056
Epoch 32/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2433 - accuracy: 0.9056
Epoch 33/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2020 - accuracy: 0.9528
Epoch 34/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1856 - accuracy: 0.9399
Epoch 35/50
24/24 [==============================] - 0s 3ms/step - loss: 0.2189 - accuracy: 0.9099
Epoch 36/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1883 - accuracy: 0.9485
Epoch 37/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1695 - accuracy: 0.9485
Epoch 38/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1903 - accuracy: 0.9442
Epoch 39/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1924 - accuracy: 0.9442
Epoch 40/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1932 - accuracy: 0.9270
Epoch 41/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1774 - accuracy: 0.9313
Epoch 42/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1528 - accuracy: 0.9614
Epoch 43/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1462 - accuracy: 0.9485
Epoch 44/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1747 - accuracy: 0.9356
Epoch 45/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1344 - accuracy: 0.9742
Epoch 46/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1560 - accuracy: 0.9485
Epoch 47/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1374 - accuracy: 0.9528
Epoch 48/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1464 - accuracy: 0.9528
Epoch 49/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1379 - accuracy: 0.9528
Epoch 50/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1359 - accuracy: 0.9657

# 신경망 테스트

In [22]:
predictions = np.argmax(model.predict(X_test), axis=1)
predictions

print('신경망 예측 결과')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

신경망 예측 결과
0.9322033898305084
              precision    recall  f1-score   support

           0       0.95      0.95      0.95        39
           1       0.90      0.90      0.90        20

    accuracy                           0.93        59
   macro avg       0.92      0.92      0.92        59
weighted avg       0.93      0.93      0.93        59